Consideraciones:

1. Al pegar los comandos, asegurarse de que se copia en una "sola línea", o sino funciona mal.
2. Al final de todos los comandos relacionados a Cassandra, es necesario colocar ";", o sino el container no entiende.

Estos comandos son para ejecutar el docker-compose.yml en windows:

In [ ]:
docker compose up -d --build

Si se desea parar o "dar de baja" los containers, tenemos los siguientes comandos de Docker:

In [ ]:
docker compose stop <nodo> # El comando se usa para detener un contenedor en ejecución.
docker compose start <nodo> # El comando se usa para iniciar un contenedor detenido.
docker compose down # El comando se usa para detener y eliminar todos los contenedores y redes.

Para subir el dataset, se usa:

In [ ]:
docker cp postulaciones.csv nodo1:/postulaciones.csv;

Con esto, ya tenemos la parte de docker lista, luego, para ingresar a la consola de cassandra:

In [ ]:
docker exec -it nodo1 cqlsh

Creamos el cluster:

In [ ]:
CREATE KEYSPACE lab1 WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 3 };

Para usar el keyspace:

In [ ]:
use lab1;

Ahora, se procede a crear la tabla de postulaciones:

In [ ]:

CREATE TABLE primera(
    CEDULA text,
    PERIODO int,
    SEXO text,
    PREFERENCIA int,
    CARRERA text,
    MATRICULADO text,            
    FACULTAD text,
    GRUPO_DEPEN text,
    REGION text,
    PACE text,               
    GRATUIDAD text,
    PUNTAJE int,
    LATITUD float,           
    LONGITUD float,          
    PTJE_NEM int,
    PSU_PROMLM int,
    PRIMARY KEY ((CARRERA, MATRICULADO), PERIODO, CEDULA)
);

CREATE TABLE segunda(
    CEDULA text,
    PERIODO int,
    SEXO text,
    PREFERENCIA int,
    CARRERA text,
    MATRICULADO text,            
    FACULTAD text,
    GRUPO_DEPEN text,
    REGION text,
    PACE text,               
    GRATUIDAD text,
    PUNTAJE int,
    LATITUD float,           
    LONGITUD float,          
    PTJE_NEM int,
    PSU_PROMLM int,
    PRIMARY KEY ((REGION, CARRERA, MATRICULADO), PERIODO, CEDULA)
);

CREATE TABLE tercera(
    CEDULA text,
    PERIODO int,
    SEXO text,
    PREFERENCIA int,
    CARRERA text,
    MATRICULADO text,            
    FACULTAD text,
    GRUPO_DEPEN text,
    REGION text,
    PACE text,               
    GRATUIDAD text,
    PUNTAJE int,
    LATITUD float,           
    LONGITUD float,          
    PTJE_NEM int,
    PSU_PROMLM int,
    PRIMARY KEY ((FACULTAD, MATRICULADO), PSU_PROMLM, CEDULA)
);

Para poblar la tabla usamos (HAY QUE VER EL TEMA DEL DELIMETER):

In [ ]:
COPY primera_ff(CEDULA, PERIODO, SEXO, PREFERENCIA, CARRERA, MATRICULADO, FACULTAD, PUNTAJE, GRUPO_DEPEN, REGION, LATITUD, LONGITUD, PTJE_NEM, PSU_PROMLM, PACE, GRATUIDAD) 
FROM '/postulaciones.csv' WITH DELIMITER=',' AND HEADER=TRUE;

COPY segunda(CEDULA, PERIODO, SEXO, PREFERENCIA, CARRERA, MATRICULADO, FACULTAD, PUNTAJE, GRUPO_DEPEN, REGION, LATITUD, LONGITUD, PTJE_NEM, PSU_PROMLM, PACE, GRATUIDAD) 
FROM '/postulaciones.csv' WITH DELIMITER=',' AND HEADER=TRUE;

COPY tercera(CEDULA, PERIODO, SEXO, PREFERENCIA, CARRERA, MATRICULADO, FACULTAD, PUNTAJE, GRUPO_DEPEN, REGION, LATITUD, LONGITUD, PTJE_NEM, PSU_PROMLM, PACE, GRATUIDAD) 
FROM '/postulaciones.csv' WITH DELIMITER=',' AND HEADER=TRUE;

Ahora comenzamos a realizar las querys:

In [ ]:
# Query 1

select * from primera where carrera = 'MEDICINA' and matriculado = 'SI';

# Query 2

select * from segunda where region = 'MAULE' and carrera = 'INGENIERÍA CIVIL INFORMÁTICA' and matriculado = 'SI';

# Query 3

select * from tercera where facultad = 'CIENCIAS DE LA SALUD' and matriculado = 'SI';

Para realizar la query en powerBI, se usan las siguientes sentencias:

In [ ]:
# Query 1

select * from lab1.primera where carrera = 'MEDICINA' and matriculado = 'SI';

# Query 2

select * from lab1.segunda where region = 'MAULE' and carrera = 'INGENIERÍA CIVIL INFORMÁTICA' and matriculado = 'SI';

# Query 3

select * from lab1.tercera where facultad = 'CIENCIAS DE LA SALUD' and matriculado = 'SI';